.sub-title {
  font-size: 1rem;
  color: lightslategray;
}

.title {
  font-size: 3rem;
  line-height: 1;
  padding-bottom: 1rem;
}

.search {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;

  p {
    font-size: 1.5rem;
  }

  input {
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .search-form {
    p {
      font-weight: 500;
      font-size: 0.75rem;
    }

    input {
      padding: 0.25rem;
    }
  }

  .title {
    font-size: 2rem;
  }
}

.filters {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.filter > * {
  flex-direction: row;
  flex: 1 1 0%;
}
