footer {
  padding-top: 2rem;
  // display: flex;
  flex-grow: none;
  color: white;
}

.site-social {
  box-shadow: 3px 0px 6px rgba(140, 149, 159, 0.15);
}

#footerLogo {
  font-size: 84px;
  height: 84px;
  width: 84px;
}
