<div class="section bg-mountains bg-cover min-h-[50vh]">
  <div class="container mx-auto py-16">
    <div class="flex w-1/2 flex-wrap bg-white">
      <div class="p-8">
        <p class="uppercase">Software Engineering</p>
        <h1 class="section-title">Simplifying complex solutions.</h1>
        <p class="md:text-lg">
          We deliver software solutions that are simple, intuitive, and easy to
          use. Mission Focused. Technology Driven. We work with our clients to
          understand their business needs and develop solutions that are
          tailored to their specific needs. We are a team of software engineers,
          designers, and project managers that work together to deliver the best
          possible solution.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="flex"></div>
  </div>
</div>
