<div>
  <span *ngIf="validationMessage" class="text-red" id="contact">{{ validationMessage }}</span>
  <form [formGroup]="contactForm" class="flex flex-wrap">
    <div class="form-input">
      <input id="name" name="name" type="text" formControlName="name" placeholder="Your Name" />
    </div>

    <div class="form-input">
      <input id="email" name="email" type="email" formControlName="email" placeholder="Email" />
    </div>

    <div class="form-input">
      <input
        id="organization"
        name="organization"
        type="text"
        formControlName="organization"
        placeholder="Organization"
      />
    </div>
    <div class="form-input">
      <select name="topic" formControlName="topic">
        <option value="default" disabled>Select a Topic</option>
        <option *ngFor="let topic of topics" [value]="topic">
          {{ topic }}
        </option>
      </select>
    </div>
    <div class="form-message">
      <textarea name="message" formControlName="message" placeholder="Your message..."></textarea>
    </div>
    <!-- <re-captcha
      name="recaptcha"
      formControlName="recaptcha"
      (resolved)="addTokenLog('Reactive form mode resolved', $event)"
    >
    </re-captcha> -->
    <button
      *ngIf="!loading"
      class="bg-primary/80 text-white px-16 py-4 rounded-md font-bold cursor-pointer disabled:opacity-50"
      type="submit"
      (click)="executeRecaptchaV3('submit')"
      [disabled]="!contactForm.valid"
    >
      Submit
    </button>
  </form>
  <button *ngIf="loading" type="button" class="bg-indigo-500 ..." disabled>
    <svg class="animate-spin h-5 w-5 mr-3 ..." viewBox="0 0 24 24">
      <!-- ... -->
    </svg>
    Sending...
  </button>
  <div *ngIf="error">Error :(</div>
  <div *ngIf="serverMessage">hello {{ serverMessage }}</div>
</div>
