<ul class="list-style-none flex flex-row-reverse items-center mb-3 sm:mb-0 leading-none">
  <li class="mr-3">
    <a
      href="https://linkedin.com/company/3345196"
      data-analytics-event='{"category":"Footer","action":"go to linkedin","label":"text:linkedin"}'
      class="Link--secondary"
    >
      <img
        src="https://github.githubassets.com/images/modules/site/icons/footer/linkedin.svg"
        height="18"
        width="22"
        class="d-block"
        loading="lazy"
        decoding="async"
        alt="LinkedIn icon"
      />
    </a>
  </li>
  <li class="mr-3">
    <a
      href="https://facebook.com/wortechcorp"
      data-analytics-event='{"category":"Footer","action":"go to facebook","label":"text:facebook"}'
      class="Link--secondary"
    >
      <img
        src="https://github.githubassets.com/images/modules/site/icons/footer/facebook.svg"
        height="18"
        width="22"
        class="d-block"
        loading="lazy"
        decoding="async"
        alt="Facebook icon"
      />
    </a>
  </li>
  <li class="mr-3">
    <a
      href="https://twitter.com/wortechcorp"
      data-analytics-event='{"category":"Footer","action":"go to twitter","label":"text:twitter"}'
      class="Link--secondary"
    >
      <img
        src="https://github.githubassets.com/images/modules/site/icons/footer/twitter.svg"
        height="18"
        width="22"
        class="d-block"
        loading="lazy"
        decoding="async"
        alt="Twitter icon"
      />
    </a>
  </li>
  <li class="mr-3">
    <a
      href="https://github.com/wortech"
      data-analytics-event='{"category":"Footer","action":"go to github","label":"text:github"}'
      class="Link--secondary"
    >
      <img
        src="https://github.githubassets.com/images/modules/site/icons/footer/github-mark.svg"
        height="18"
        width="22"
        class="d-block"
        loading="lazy"
        decoding="async"
        alt="GitHub icon"
      />
    </a>
  </li>
</ul>
