<!-- Generate a terms and conditions -->
<article>
  <section>
    <h1>Terms of Use</h1>
    <h3 class="text-xl">WorTech Corp Terms of Use</h3>
    <h3 class="text-accent text-sm">Last updated: September 26, 2022</h3>
  </section>

  <section>
    <h2>Overview</h2>
    <p>
      Welcome to WorTech Corp's Terms of Use agreement. For purposes of this
      agreement, “Site” refers to the Company's website, which can be accessed
      at wortechcorp.com. “Service” refers to the Company's services accessed
      via the Site, in which users can <code>[description of services]</code>.
      The terms “we,” “us,” and “our'' refer to the Company. “You” refers to
      you, as a user of our Site or our Service.
    </p>
    <p>
      The following Terms of Use apply when you view or use the Service via our
      website located at wortechcorp.com.
    </p>
    <p>
      Please review the following terms carefully. By accessing or using the
      Service, you signify your agreement to these Terms of Use. If you do not
      agree to be bound by these Terms of Use in their entirety, you may not
      access or use the Service.
    </p>
  </section>

  <section>
    <h2>Privacy Policy</h2>
    <p>
      The Company respects the privacy of its Service users. Please refer to the
      Company's
      <a href="/privacy" target="_parent" aria-label="Privacy Policy"
        >Privacy Policy</a
      >
      which explains how we collect, use, and disclose information that pertains
      to your privacy. When you access or use the Service, you signify your
      agreement to the Privacy Policy as well as these Terms of Use.
    </p>
  </section>

  <section>
    <h2>Copyright Complaints and Copywrite Agent</h2>
    <p>
      (a) Termination of Repeat Infringer Accounts. We respect the intellectual
      property rights of others and require that the users do the same. Pursuant
      to 17 U.S.C. 512(i) of the United States Copyright Act, we have adopted
      and implemented a policy that provides for the termination in appropriate
      circumstances of users of the Service who are repeat infringers. We may
      terminate access for participants or users who are found repeatedly to
      provide or post protected third party content without necessary rights and
      permissions.
    </p>
    <p>
      (b) DMCA Take-Down Notices. If you are a copyright owner or an agent
      thereof and believe, in good faith, that any materials provided on the
      Service infringe upon your copyrights, you may submit a notification
      pursuant to the Digital Millennium Copyright Act (see 17 U.S.C 512)
      (“DMCA”) by sending the following information in writing to the our
      designated copyright agent at 9175 Guilford Rd, Columbia, MD 21046:
    </p>
    <ol>
      <li>The date of your notification;</li>
      <li>
        A physical or electronic signature of a person authorized to act on
        behalf of the owner of an exclusive right that is allegedly infringed;
      </li>
      <li>
        A description of the copyrighted work claimed to have been infringed,
        or, if multiple copyrighted works at a single online site are covered by
        a single notification, a representative list of such works at that site;
      </li>
      <li>
        A description of the material that is claimed to be infringing or to be
        the subject of infringing activity and information sufficient to enable
        us to locate such work;
      </li>
      <li>
        Information reasonably sufficient to permit the service provider to
        contact you, such as an address, telephone number, and/or email address;
      </li>
      <li>
        A statement that you have a good faith belief that use of the material
        in the manner complained of is not authorized by the copyright owner,
        its agent, or the law; and
      </li>
      <li>
        A statement that the information in the notification is accurate, and
        under penalty of perjury, that you are authorized to act on behalf of
        the owner of an exclusive right that is allegedly infringed.
      </li>
    </ol>
    <p>
      (c) Counter-Notices. If you believe that your User Content that has been
      removed from the Site is not infringing, or that you have the
      authorization from the copyright owner, the copyright owner's agent, or
      pursuant to the law, to post and use the content in your User Content, you
      may send a counter-notice containing the following information to our
      copyright agent using the contact information set forth above:
    </p>
    <ol>
      <li>Your physical or electronic signature;</li>
      <li>
        A description of the content that has been removed and the location at
        which the content appeared before it was removed;
      </li>
      <li>
        A statement that you have a good faith belief that the content was
        removed as a result of mistake or a misidentification of the content;
        and
      </li>
      <li>
        Your name, address, telephone number, and email address, a statement
        that you consent to the jurisdiction of the federal court in Maryland
        and a statement that you will accept service of process from the person
        who provided notification of the alleged infringement.
      </li>
    </ol>
    <p>
      If a counter-notice is received by our copyright agent, we may send a copy
      of the counter-notice to the original complaining party informing such
      person that it may reinstate the removed content in ten (10) business
      days. Unless the copyright owner files an action seeking a court order
      against the content provider, member or user, the removed content may (in
      our sole discretion) be reinstated on the Site in ten (10) to fourteen
      (14) business days or more after receipt of the counter-notice.
    </p>
  </section>

  <section>
    <h2>Intellectual Property</h2>
    <p>
      You acknowledge and agree that we and our licensors retain ownership of
      all intellectual property rights of any kind related to the Service,
      including applicable copyrights, trademarks and other proprietary rights.
      Other product and company names that are mentioned on the Service may be
      trademarks of their respective owners. We reserve all rights that are not
      expressly granted to you under these Terms of Use.
    </p>
  </section>

  <section>
    <h2>User Consent To Receive Communications In Electronic Form</h2>
    <p>
      For contractual purposes, you: (a) consent to receive communications from
      us in an electronic form via the email address you have submitted; and (b)
      agree that all Terms of Use, agreements, notices, disclosures, and other
      communications that we provide to you electronically satisfy any legal
      requirement that such communications would satisfy if it were in writing.
      The foregoing does not affect your non-waivable rights.
    </p>
    <p>
      We may also use your email address to send you other messages, including
      information about the Site or the Service and special offers. You may opt
      out of such email by changing your account settings, using the
      “Unsubscribe” link in the message, or by sending an email to
      info@wortechcorp.com or mail to the following postal address:
    </p>
    <p>Customer Support</p>
    <p>9175 Guilford Rd, Columbia, MD 21046</p>
    <p>
      Opting out may prevent you from receiving messages regarding the Site, the
      Service or special offers.
    </p>
  </section>

  <section>
    <h2>Modification of Terms of Use</h2>
    <p>
      We can amend these Terms of Use at any time and will update these Terms of
      Use in the event of any such amendments. It is your sole responsibility to
      check the Site from time to time to view any such changes in this
      agreement. Your continued use of the Site or the Service signifies your
      agreement to our revisions to these Terms of Use. We will endeavor to
      notify you of material changes to the Terms by posting a notice on our
      homepage and/or sending an email to the email address you provided to us
      upon registration. For this additional reason, you should keep your
      contact and profile information current. Any changes to these Terms (other
      than as set forth in this paragraph) or waiver of our rights hereunder
      shall not be valid or effective except in a written agreement bearing the
      physical signature of one of our officers. No purported waiver or
      modification of this agreement on our part via telephonic or email
      communications shall be valid.
    </p>
  </section>

  <section>
    <h2>General Terms</h2>
    <p>
      If any part of this Terms of Use agreement is held or found to be invalid
      or unenforceable, that portion of the agreement will be construed as to be
      consistent with applicable law while the remaining portions of the
      agreement will remain in full force and effect. Any failure on our part to
      enforce any provision of this agreement will not be considered a waiver of
      our right to enforce such provision. Our rights under this agreement
      survive any transfer or termination of this agreement.
    </p>
    <p>
      You agree that any cause of action related to or arising out of your
      relationship with the Company must commence within ONE year after the
      cause of action accrues. Otherwise, such cause of action is permanently
      barred.
    </p>
    <p>
      These Terms of Use and your use of the Site are governed by the federal
      laws of the United States of America and the laws of the State of
      Maryland, without regard to conflict of law provisions.
    </p>
    <p>
      We may assign or delegate these Terms of Service and/or our Privacy
      Policy, in whole or in part, to any person or entity at any time with or
      without your consent. You may not assign or delegate any rights or
      obligations under the Terms of Service or Privacy Policy without our prior
      written consent, and any unauthorized assignment or delegation by you is
      void.
    </p>
    <p>
      YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS OF USE, UNDERSTAND THE
      TERMS OF USE, AND WILL BE BOUND BY THESE TERMS AND CONDITIONS. YOU FURTHER
      ACKNOWLEDGE THAT THESE TERMS OF USE TOGETHER WITH THE
      <a href="/privacy" target="_parent" aria-label="Privacy Policy"
        >PRIVACY POLICY</a
      >
      REPRESENT THE COMPLETE AND EXCLUSIVE STATEMENT OF THE AGREEMENT BETWEEN US
      AND THAT IT SUPERSEDES ANY PROPOSAL OR PRIOR AGREEMENT ORAL OR WRITTEN,
      AND ANY OTHER COMMUNICATIONS BETWEEN US RELATING TO THE SUBJECT MATTER OF
      THIS AGREEMENT.
    </p>
  </section>
</article>
