<!-- @toto - add notifications -->
<!-- <app-messages></app-messages> -->

<app-header></app-header>

<main class="main">
  <!-- <div class="video-overlay"></div>
  <div class="video-container"> -->
  <!-- Toolbar -->
  <!-- <app-header></app-header> -->

  <!-- Video Background-->
  <!-- <video class="video" autoplay loop>
      <source src="../assets/earth.mp4" type="video/mp4" />
    </video>
    <div class="video-content">
      <h1 class="sm:text-3xl md:text-5xl">Mission Focused Technology Driven</h1>
      <p class="max-w-xl pt-2">
        We are experienced system, software, and hardware engineering
        professionals with the knowledge and skills capable of designing,
        modeling, developing, analyzing and deploying modern complex systems. We
        focus our energy on working with our customer to deliver product and
        service that brings mission success.
      </p>
    </div>
  </div> -->
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<app-footer></app-footer>
