.btn {
  text-align: center;
  padding: 8px 40px 8px 40px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  cursor: pointer;
  color: black;
}

.btn-light {
  text-align: center;
  background-color: whitesmoke;
  padding: 8px 40px 8px 40px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  cursor: pointer;
}
