@use "@angular/material" as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@angular/material/theming";

@include mat.core();

// My crap
$dark: rgb(36, 41, 47);
$darker: rgb(2, 4, 8);
$light: rgb(246, 248, 250);

$bg-clr-dark: $darker;
$bg-clr-default: $light;

$text-clr-dark: $dark;
$text-clr-light: #ffffff;
$text-clr-link: rgb(13, 107, 218);

$scheme-dark: $text-clr-light, $bg-clr-dark;
$scheme-default: $text-clr-dark, $bg-clr-default;

@mixin color-scheme($text, $bg) {
  background-color: $bg;
  color: $text;
}

// end of my crap

$angular-primary: mat.define-palette(mat.$indigo-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

// @include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

// .light {
//   @include mat.all-component-themes($angular-default-theme);
//   @include color-scheme($scheme-default...);
// }

.dark {
  // @include mat.all-component-colors($angular-dark-theme);
  @include mat.all-component-themes($angular-dark-theme);
  @include color-scheme($scheme-dark...);
  // background-color: $bg-clr-dark;
  // color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*[data-theme="dark"] {
  color: white;
}

html,
body {
  @include mat.all-component-themes($angular-default-theme);
  @include color-scheme($scheme-default...);
  background-color: #ffffff;
  width: 100vw;
  height: 100%;
}

.sub-title {
  font-size: 1rem;
  color: lightslategray;
}

.title {
  font-size: 2rem;
  padding-bottom: 1rem;
}
