.title {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
}

.category-title {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: 700;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  padding-bottom: 0.75rem;
}
